
h1{
    color: #011837;
}

h3{
    color: #141d70;
}

/* Barra de navegación */
.navbar{
    padding: 2rem;
    background-color: #011837;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.texto-blanco{
    color: white;
}
.formulario-inicio{
    padding: 250px;
}
.img-index img{
    max-width: 250px;
    max-height: 250px;
}
.img-index{
    margin: 10px 0px 40px 0px;
}

.container{
    margin: 10px auto;
}

.btn{
    width: 100px;
    border-radius: 20px;
    background-color: #2233C5;
    margin: 30px;
    margin-left: 40%;
}

.btn:hover{
    background: #19258d;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px  0px 0px #011837;
    transition: all 300ms;
}

