/* Barra de navegación */
.navbar{
    padding: 2rem;
    background-color: #000970;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.texto-blanco{
    color: white;
}
.formulario-inicio{
    padding: 250px;
}
.img-index img{
    width: 250px;
}
.borde-color{
    border-color:red;
}
