.row{
    width: 80%;
    display: flex;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.row a{
    text-decoration: none;
}

.col{
    width: 300px;
    height: 200px;
    margin: 40px auto;
    padding: 0px;
    background-size: cover;
    border-radius: 20px;
    border: 4px solid #D45959;
}

.col h3{
    line-height: 200px;
    text-decoration: none;
    background: none;
    display: none;
}

.col:hover {
    background-color: gray ;
} 

.col:hover h3{
    text-decoration: none;
    color: aliceblue;
    transition: all 300ms;
}

.col1{
    background-image: url(img/cliente.png);
}

.col2{
    background-image: url(img/compras.png);
}

.col3{
    background-image: url(img/catalogo.png);
}
